@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #000000;
}

    body > * {
        flex-shrink: 0;
    }

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Press Start 2P", Sans-serif;
}

.text-pixel {
    font-family: "Press Start 2P", Sans-serif;
    font-size: 10pt;
}

.logo {
    width: 40px;
    margin-left: 10px;
}

.nav-link {
    padding-left: 8px;
}

.team-pic {
    background-image: url('../images/team.png');
    background-size: 100%;
    height: 400px;
    mask-image: linear-gradient(#ffffff 75%, transparent);
    background-repeat: no-repeat;
}

.team-pic-text h1 {
    text-shadow: 0 -2px 0 #000, 2px 0 0 #000, 0 2px 0 #000, -2px 0 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, 0 0 5px #000;
    margin-top: 80px;
}

.team-pic-text p {
    text-shadow: 0 -2px 0 #000, 2px 0 0 #000, 0 2px 0 #000, -2px 0 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, 0 0 5px #000;
    font-size: 24pt;
}

.main-end {
    flex-grow: 1;
}

.flyer {
    width: 100%;
    margin-bottom: 80px;
}

.sponsors-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.sponsors-item {
    text-align: center;
}

.sponsors-item img {
    border-radius: 50%;
    height: auto;
    display: block;
    margin-bottom: 40px;
}

.profile-pic {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px;
    transition: opacity .75s;
}

    .profile-pic:hover .profile-pic-main {
        opacity: 0;
    }

    .profile-pic:hover .profile-pic-alt {
        opacity: 1;
    }

.profile-pic-alt {
    position: absolute;
    opacity: 0;
    transition: opacity .75s;
    top: 0;
    left: 0;
}

.profile-pic-main {
    transition: opacity 1s;
}

.player-card {
    margin: auto;
    margin-bottom: 40px;
    width: 90%;
    background-color: rgba(0, 0, 0, .2);
    min-height: 200px;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .2);
}

.player-description {
    margin-left: 200px;
    margin-right: 25px;
    text-align: left;
}

.player-name {
    padding-top: 25px;
    font-family: "Press Start 2P", Sans-serif;
    margin-bottom: 0px;
}

.player-status {
    font-size: 10pt;
}

.news-card {
    margin: auto;
    margin-bottom: 40px;
    width: 90%;
    background-color: rgba(0, 0, 0, .2);
    min-height: 200px;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .2);
    background-size: 100%;
    background-image: linear-gradient(#ffffff, transparent 75%);
    background-repeat: no-repeat;
}

.news {
    margin-left: 25px;
    margin-right: 25px;
    text-align: left;
}

.news-title {
    padding-top: 10%;
    font-family: "Press Start 2P", Sans-serif;
    margin-bottom: 0px;
}

.news-date {
    font-size: 10pt;
}

.container {
    max-width: 920px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media (max-width: 992px) {

    .profile-pic {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .player-description {
        margin-left: 25px;
    }

    .player-name {
        padding-top: 0px;
    }

    .team-pic-text h1 {
        font-size: 24pt;
        margin-top: 60px;
    }

    .team-pic-text p {
        font-size: 18pt;
    }
}

@media (max-width: 765px) {

    .team-pic {
        height: 320px;
    }

    .team-pic-text h1 {
        font-size: 16pt;
        margin-top: 40px;
    }

    .team-pic-text p {
        font-size: 14pt;
    }
}

@media (max-width: 576px) {

    .team-pic {
        height: 240px;
    }

    .team-pic-text h1 {
        font-size: 12pt;
        margin-top: 20px;
    }

    .team-pic-text p {
        font-size: 12pt;
    }

    .footer {
        position: relative;
    }
}